.icon32-socialicons{background: url("../../../img/ic-32x32.png") no-repeat left top;}

.socialicons_wrap{font-weight: 300;font-family: sans-serif,arial,helvetica;color:#000;}

/* form */
.socialicons_form_title{display: block;margin-bottom: 3px;margin-top: 12px;font-size: 120%;}
.socialicons_form_item,.socialicons_form_item_combo{display: block;margin: 10px 0px 5px 10px;padding: 10px 0px 10px 25px;border-left: 5px solid #f0f0f0;}
.socialicons_news_about_box{background: #f8f8f8;}
.socialicons_form_item p,.socialicons_form_item_combo p{margin: 0px;padding: 1px 0px;font-size: 11px;color:#666;}
.socialicons_form_options_item{display: block;margin: 1px 0px 5px 10px;padding: 10px 0px 10px 25px;background: #f8f8f8;border-top: 1px solid #f0f0f0;}
.socialicons_form_item label,.socialicons_form_item_combo label{display: block;}
.labelinline label{display: inline-block;}
.socialicons_form_item_combo div{display: block;margin-bottom: 5px;}
.socialicons_form_item_combo ul{margin-left: 30px;margin-bottom: 10px;list-style: none;}

.form_item_blue{border-left: 5px solid #00A9D3;}
.form_item_green{border-left: 5px solid #33cc00;}

.or{background: url("../../../img/line.gif") no-repeat left center;height: 20px;line-height: 20px;color:#666;text-align: center;width:200px;display: block;font-size: 10px;}

#socialicons-modal-iconfinder{display: none;font-weight: 300;font-family: sans-serif,arial,helvetica;color:#000;}


#iconsresult ul{list-style: none;padding: 0px;margin: 0px; font-size: 11px;}
#iconsresult ul li{float:left;width:85px;height:100px;position: relative;text-align: center;border: 1px solid #e0e0e0;margin: 3px;padding: 3px;overflow: hidden;}
#iconsresult ul li .iconimage{height:48px;line-height: 48px;}
#iconsresult ul li .icondimension{margin: 0px;padding: 0px;background: #f8f8f8;width:100%;height: 18px;line-height: 18px;position: absolute;bottom: 0px;left: 0px;}
#iconsresult ul li .icondownload{ background: #f8f8f8;border-top: 1px solid #e0e0e0;border-bottom: 1px solid #e0e0e0;position: absolute;bottom:19px;left: 0px;width:100%;height:18px;line-height: 18px;}
#iconsresult ul li a{text-decoration: none;display: block;}

.socialicons_list_of_links li{display: block;clear:both;border: 1px solid #e0e0e0;height:80px;overflow: hidden;}
.socialicons_list_of_links .iconimage{width:50px;height: 80px;float:left;padding-right: 5px;line-height:80px;text-align: center;overflow: hidden;}
.socialicons_list_of_links .iconimage img{max-width: 50px;}
.socialicons_list_of_links .iconinfo{float:left;width:400px;height:80px;padding-left: 5px;border-left: 1px solid #e0e0e0;padding-top: 1px;}
.socialicons_list_of_links .statusenabled{background: #99ff99;}
.socialicons_list_of_links  .statusdisabled{background: #ff9999;}